Izibiz/Connected Services/SmmWs/SmmWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.w3.org/2005/05/xmlmime" targetNamespace="http://www.w3.org/2005/05/xmlmime" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="base64Binary">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute ref="tns:contentType" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="hexBinary">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="tns:contentType" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:attribute name="contentType" type="xs:string" />
</xs:schema>